<div class="row page-content">
    <img class="img-comics" src="assets/photo-1612036782180-6f0b6cd846fe 1 (2).png" alt="">
    <div class="content-home">
        <h2 class="subtitle-content-home">Marvel Comics</h2>
        <p class="text-content-home">Marvel Comics is the brand name and primary imprint of Marvel Worldwide
            Inc., formerly Marvel Publishing, Inc. and Marvel Comics Group, a publisher of American comic books
            and related media. In 2009, The Walt Disney Company acquired Marvel Entertainment, Marvel
            Worldwide's parent company.
            Marvel was started in 1939 by Martin Goodman as Timely Comics, and by 1951 had generally become
            known as Atlas Comics. The Marvel era began in 1961, the year that the company launched The
            Fantastic Four and other superhero titles created by Stan Lee, Jack Kirby, Steve Ditko and many
            others. The Marvel brand, which had been used over the years, was solidified as the company's
            primary brand. The Marvel universe also features well-known supervillains including Doctor Doom,
            Magneto, Thanos, Loki, Green Goblin, Kingpin, Red Skull, Ultron, the Mandarin, MODOK, Doctor
            Octopus, Kang, Dormammu, Venom and Galactus. Most of Marvel's fictional characters operate in a
            single reality known as the Marvel Universe, with most locations mirroring real-life places; many
            major characters are based in New York City. Additionally, Marvel has published several licensed
            properties from other companies. This includes Star Wars comics twice from 1977 to 1986 and again
            since 2015.
        </p>
    </div>
</div>
<div class="wiki-publi row">
    <div class="col-12">
        <div class="square-publi">
            <h2 class="subtitle-wiki-publi">Learn more about Marvel Heroes</h2>
            <img class="img-wiki-publi" src="assets/kindpng_3008165.png" alt="">
            <p>We have data on the heroes, their comics, descriptions and much more about all of them. </p>
            <p><button type="button" class="btn btn-danger"> <a class="links-button-header" href="#/tables">Learn More</a></button></p>
        </div>
    </div>
</div>