<div class="chars-table" data-ng-init="getCharacters()" ng-controller="charCtrl">
    <div class="row">
        <button type="button" class="btn btn-info">
            <a class="links-info-button" href="#/tables"><i class="icon-arrow-left"></i>Back to tables</a>
        </button>
    </div>

    <div class="row panel-char" ng-controller="charCtrl">
        <div class="panel-char2">
            <div class="row">
                <div class="col-4">
                    <img class="photo-char" src="/assets/{{char.name}}.png" alt="">
                </div>
                <div class="resume-char col-7">
                    <div class="row">
                        <h3 class="char-subtitle col-12">{{char.name}}</h3>
                        <h5 class="col-12" ng-show="char.description.length > 0">{{char.description}}</h5>
                        <h5 ng-show="char.description.length === 0">No description</h5>
                    </div>
                </div>
            </div>
            <div class="char-comics-content" >
            <h4>Comics</h4>
                    <ul class="char-comics-list list-group list-group-flush" ng-repeat="storie in char.stories.items">
                        <li class="list-group-item char-comics-list-item">
                            <h5 class="mb-1"><i class="icon-circle"></i>{{storie.name}}</h5>
                            <p class="mb-1">{{storie.type}}</p>
                        </li>
                      </ul>
                </div>
            </div>
        </div>

    </div>
</div>